.example-card {
  max-width: 400px;
  margin: auto;
  position: relative;
}
.example-card #card-header {
  position: absolute;
  
  text-align: left;
}

#songDetails {
    padding: 3%;
    text-align: center;
}

#card-header h2, h4 {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#card-header h2 {
  font-weight: bolder;
}

