<div id="songDetails">
    <mat-card class="example-card">
        <div id="card-header">
            <span> 
                <h2 for="songTitle">{{songTitle}}</h2>
            </span>
            <span> 
                <h4 for="songPerformer">{{songPerformer}}</h4>
            </span>
        </div>
        <img mat-card-image [(src)]="performerImg" alt="Performer photo">
        <mat-card-content>
            <p for="songDetails">{{songDetails}}</p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>PLAY</button>
        <button mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>

        </mat-card-actions>
    </mat-card>
</div>