<mat-toolbar class="navBar navbar-light">
  <a class="navbar-brand" href="#">
      <img src="./assets/images/logoWhite.png" style="width:65px; padding:5px">
  </a>
  <span class="example-spacer"></span>

  <a  href="myplaylists" class="nav-bar-text">
      My playlists
  </a>
  <a class="navbar-brand" href="profile-page">
      <img src="./assets/images/profile.png" style="width:35px;">
  </a>

</mat-toolbar>
<div class="details" style="background-color:#5a695d; ">
    <div class="center">
      <div class="image"style="margin-top:50px;margin-left:450px">
          <img [(src)]="albumPhotoSrc"  alt="Album photo" style="max-width: 200px;">
          <div id="about" style="font-weight: bold;">
              <label for="performer" id="label-performer"> {{performer}} </label>

          </div>
      </div>

    </div>
</div>
<div class="card-container">
    <!-- <app-card [music]="music"></app-card> -->
    <app-card #player (trackEnded)="onEnded($event)" [autoPlay]="false"
            [displayPlaylist]="msaapDisplayPlayList" [tableHeader]="msaapTableHeader" [titleHeader]="msaapTitleHeader"
            [artistHeader]="msaapArtistHeader" [durationHeader]="msaapDurationHeader" [displayTitle]="msaapDisplayTitle"
            [displayDelete]="msaapDisplayDelete" [displayAction]="msaapDisplayAction" [displayAlbum]="msaapDisplayAlbum"
            [displayGenre]="msaapDisplayGenre"
            [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
            [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
            [displayDuration]="msaapDisplayDuration" [expanded]="true"
            [pageSizeOptions]="pageSizeOptions" [playlist]="msaapPlaylist">
          </app-card>
</div>
