<mat-toolbar class="navBar navbar-light">
  <a class="navbar-brand" href="#">
      <img src="./assets/images/logoWhite.png" style="width:65px; padding:5px">
  </a>
  <span class="example-spacer"></span>

  <a  href="myplaylists" class="nav-bar-text">
      My playlists
  </a>
  <a class="navbar-brand" href="profile-page">
      <img src="./assets/images/profile.png" style="width:35px;">
  </a>

</mat-toolbar>
<div class="card-container text-center">

  <h1 style="color:white; padding-left:120px">My playlists</h1>
  <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="white"style="color:black; margin-left:120px">Create a playlist</button>

  <table mat-table [dataSource]="dataSource" #mytable class="my-table" style="width:80%; margin:auto; margin-top:50px;">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> <a (click)="showPlaylist(element.id)">{{element.name}} </a></td>
    </ng-container>


    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a (click)="openDialog('Delete',element); selectedIndex(element)">Delete</a>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons style="width:80%; margin:auto;"></mat-paginator >

</div>
