.navBar {
    background-color: rgba(0, 0, 0, 0.4);
    height: fit-content;
}
.nav-bar-text {
    font-style: normal;
    color: white;
    text-decoration: none;
    padding-right: 20px;
}


.example-spacer {
  flex: 1 1 auto;
  
}
