.example-card {
    max-width: 200px;
}

.text {
    color:aliceblue;
    margin: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}


#row1col1 {
    padding: 1%;
    margin: auto;
    position: relative;
}
#row1col2 {
    align-items: bottom;
}