.example-card {
    max-width: 200px;
}

.text {
    color:aliceblue;
    margin: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}


#row1col1 {
    padding: 1%;
    margin: auto;
    position: relative;
}
#row1col2 {
    align-items: bottom;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
.mat-column-duration, .mat-column-liked {
    width: 10%;
    text-align: right;
  }
  
.mat-column-position {
    width: 5%;
}

