.navBar {
    background-color: rgba(0, 0, 0, 0.4);
    height: fit-content;
}


.example-spacer {
  flex: 1 1 auto;
}
.search-container {
  margin: auto;
  width: 80%;
}
.card-container {
  margin: auto;
  width: 80%;
}
