<!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

<section class="backg"> 
    <nav class="navBar1 navbar navbar-expand-sm  navbar-light fixed-top" >
        <a class="navbar-brand" href="#">
            <img src="./assets/images/logoWhite.png" style="width:75px;">
        </a>
        
        <button type="button" class="homeButton loginbutton btn btn-outline-warning">Imenko</button>
    </nav>
    <!--
    <div class="form-outline" style="position: relative;">
        <input type="search" id="form1" class="s-input s-input__search js-search-field form-control " placeholder="Type query"
        aria-label="Search" />
    </div>
    -->
    <div class="column">
        <div class="form-group has-search" style="margin-top: 9%;">
            <input type="text" class="form-control" placeholder="Search" id="searchBar" >
        </div>
        <div id="artists">
            <div class="imageText">
                <img src="./assets/images/ariana-grande.jpg">
                <label class="text">Ariana Grande</label>
            </div>
            <div class="imageText">
                <img src="./assets/images/ariana-grande.jpg" >
                <label class="text">Ariana Grande</label>
            </div><div class="imageText">
                <img src="./assets/images/ariana-grande.jpg">
                <label class="text">Ariana Grande</label>
            </div>
        </div>
        <div id="artists">
            <div class="imageText">
                <img src="./assets/images/ariana-grande.jpg" >
                <label class="text">Ariana Grande</label>
            </div>
            <div class="imageText">
                <img src="./assets/images/ariana-grande.jpg" >
                <label class="text">Ariana Grande</label>
            </div><div class="imageText">
                <img src="./assets/images/ariana-grande.jpg">
                <label class="text">Ariana Grande</label>
            </div>
        </div>
        <div id="artists">
            <div class="imageText">
                <img src="./assets/images/ariana-grande.jpg">
                <label class="text">Ariana Grande</label>
            </div>
            <div class="imageText">
                <img src="./assets/images/ariana-grande.jpg">
                <label class="text">Ariana Grande</label>
            </div><div class="imageText">
                <img src="./assets/images/ariana-grande.jpg">
                <label class="text">Ariana Grande</label>
            </div>
        </div>
    </div>
    <div class="column"></div>
    

</section>