<mat-toolbar class="navBar navbar-light">
    <a class="navbar-brand" href="#">
        <img src="./assets/images/logoWhite.png" style="max-width:70px; padding:5px">
    </a>
    <span class="example-spacer"></span>
  
    <a class="navbar-brand" href="profile-page">
        <label for="name">{{name}}</label>
        <img [(src)]="userPhotoSrc" style="width:35px;" >
    </a>
  </mat-toolbar>
<div id="edit-data-div">
    <form class="example-form">
        <mat-form-field class="example-full-width">
        <mat-label>Username (disabled)</mat-label>
        <input matInput disabled [(value)]="username">
        </mat-form-field>
    
        <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput [(value)]="name">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>Surname</mat-label>
            <input matInput [(value)]="surname">
        </mat-form-field></td>
        </tr></table>
    
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill">
                <mat-label>Location</mat-label>
                <mat-select [(value)]="selectedLocation">
                <mat-option></mat-option>
                <mat-option [value]="option.value" *ngFor="let option of locations">{{ option.viewValue }}</mat-option>
                </mat-select>
            </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email"  matInput [formControl]="emailFormControl" placeholder="pat@example.com" >
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>

        </mat-form-field></td>
        </tr></table>
        <mat-card class="example-card" >
            <mat-card-header>
              <mat-card-subtitle>Profile picture</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [(src)]="userPhotoSrc" alt="Profile photo"> 
            
            
            <button mat-raised-button color="is-dark" (click)="onChangeProfilePhoto()">Change image</button>
        </mat-card>
        <br>
        <button mat-raised-button (click)="onSaveChanges()">Save changes</button>
    </form>
</div>