
<div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
        <mat-label>Username (disabled)</mat-label>
        <input matInput disabled value="Marija123">
        </mat-form-field>
    
        <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput value="Marija">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>Surname</mat-label>
            <input matInput value="Maric">
        </mat-form-field></td>
        </tr></table>
    
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill">
                <mat-label>Location</mat-label>
                <mat-select [(value)]="selectedLocation">
                <mat-option></mat-option>
                <mat-option [value]="option.value" *ngFor="let option of locations">{{ option.viewValue }}</mat-option>
                </mat-select>
            </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>

        </mat-form-field></td>
        </tr></table>
        <button mat-raised-button>Save changes</button>
    </form>
</div>