<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous"> -->
<mat-toolbar class="navBar navbar-light">
  <a class="navbar-brand" href="#">
      <img src="./assets/images/logoWhite.png" style="width:65px; padding:5px">
  </a>
  <span class="example-spacer"></span>

  <a  href="myplaylists" class="nav-bar-text">
      My playlists
  </a>
  <a class="navbar-brand" href="profile-page">
      <img src="./assets/images/profile.png" style="width:35px;">
  </a>

</mat-toolbar>
  <h1 style="color:white; padding-left:120px">Playlist 1</h1>
<div class="card-container">
    <!-- <app-card [music]="music"></app-card> -->
    <app-card #player (trackEnded)="onEnded($event)" [autoPlay]="false"
            [displayPlaylist]="msaapDisplayPlayList" [tableHeader]="msaapTableHeader" [titleHeader]="msaapTitleHeader"
            [artistHeader]="msaapArtistHeader" [durationHeader]="msaapDurationHeader" [displayTitle]="msaapDisplayTitle"
            [displayDelete]="msaapDisplayDelete"
            [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
            [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
            [displayDuration]="msaapDisplayDuration" [expanded]="true"
            [pageSizeOptions]="pageSizeOptions" [playlist]="msaapPlaylist">
          </app-card>
</div>
