.loginbutton {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 2vh;
    width: 20vh;
    border-width: 1vh;
    position: absolute;
    right: 2vw;
    top: 2vh;
}
.text {
    color: #f5ecc7;
    margin: 2vh;
    position: absolute;
    bottom: 2vh;
}
.logo {
    max-height: 15vh;
    margin: 2vh;
    position: absolute;
}
.backg {
    background-color: #152b2e;
    width: 100vw;
    height: 100vh;
    position: relative;
  }

.backg2 {
    height: 100vh;
    width: 100vw;
    
    
}
